body {
	line-height:1
}
body {
	font-family:"Times New Roman";
	background-color: #f0f0f0;
	color: #373737;
	font-size: 21px;
	overflow-y: scroll;
	overflow-x: hidden;
}
html, body {
	height: 100%;
}
#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -145px;
}
p {
	line-height: 30px;
	margin-bottom: 20px;
}
a {
	text-decoration: none;
	color: #373737;
} 
h1, h2, h3, h4, h5, h6 {
	font-family: 'MidoMedium';
	font-weight: normal;
	color: #373737;
	margin-bottom: 10px;
}
h1 {
	font-size: 45px;
}
#piecemaker-container {
	display:block;
        font-family: Georgia, Times, "Times New Roman", serif;
	height:auto;
	overflow:hidden;
	margin: 0 auto;
        margin-top: -10px;
	width:  960px;
        text-align:justify;
}
.one-half {
	width:48%;
}
.one-third {
	width:30.66%;
}
.two-third {
	width:65.33%;
}
.one-fourth {
	width:22%;
}
.three-fourth {
	width:74%;
}
.one-fifth {
	width:16.8%;
}
.two-fifth {
	width:37.6%;
}
.three-fifth {
	width:58.4%;
}
.four-fifth {
	width:67.2%;
}
.one-sixth {
	width:13.33%;
}
.five-sixth {
	width:82.67%;
}
.one-half, .one-third, .two-third, .three-fourth, .one-fourth, .one-fifth, .two-fifth, .three-fifth, .four-fifth, .one-sixth, .five-sixth {
	position:relative;
	margin-right:4%;
	float:left;
}
.last {
	margin-right:0 !important;
	clear:right;
}
#about .one-fourth img {
	-moz-box-shadow: 0px 1px 2px #656565;
	-webkit-box-shadow: 0px 1px 2px #656565;
	box-shadow: 0px 1px 2px #656565;
	display: block;
	margin-bottom: 20px;
}
#about .one-fourth p {
	margin-bottom: 15px;
}